<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Header</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>
  <ion-list>
        <ion-item>Item 1</ion-item>
        <ion-item>Item 2</ion-item>
        <ion-item>Item 3</ion-item>
        <ion-item>Item 4</ion-item>
        <ion-item>Item 5</ion-item>
        <ion-item>Item 6</ion-item>
        <ion-item>Item 7</ion-item>
        <ion-item>Item 8</ion-item>
        <ion-item>Item 9</ion-item>
        <ion-item>Item 10</ion-item>
        <ion-item>Item 11</ion-item>
        <ion-item>Item 12</ion-item>
        <ion-item>Item 13</ion-item>
        <ion-item>Item 14</ion-item>
        <ion-item>Item 15</ion-item>
        <ion-item>Item 16</ion-item>
        <ion-item>Item 17</ion-item>
        <ion-item>Item 18</ion-item>
        <ion-item>Item 19</ion-item>
        <ion-item>Item 20</ion-item>
        <ion-item>Item 21</ion-item>
        <ion-item>Item 22</ion-item>
        <ion-item>Item 23</ion-item>
        <ion-item>Item 24</ion-item>
        <ion-item>Item 25</ion-item>
        <ion-item>Item 26</ion-item>
        <ion-item>Item 27</ion-item>
        <ion-item>Item 28</ion-item>
        <ion-item>Item 29</ion-item>
        <ion-item>Item 30</ion-item>
    </ion-list>
  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 1]"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Item 1</ion-item>
          <ion-item>Item 2</ion-item>
          <ion-item>Item 3</ion-item>
          <ion-item>Item 4</ion-item>
          <ion-item>Item 5</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>