<ion-card class="bg-white dark:bg-[#1c1c1e] bg-transparent dark:bg-transparent shadow-none">
    <!-- Image -->
    <div class="relative w-full aspect-square rounded-[1.5rem] overflow-hidden bg-gray-100 dark:bg-gray-900 mb-3">
        <img [src]="productt?.imageUrl" class="w-full h-full object-cover" alt="{{ productt?.nameRu }}">

        <!-- Rating Badge -->
        <div
             class="absolute top-2.5 right-2.5 bg-white/80 dark:bg-black/60 backdrop-blur-md px-2 py-1 rounded-full text-[10px] font-bold flex items-center gap-1 shadow-sm dark:text-white">
            <ion-icon name="star" class="text-yellow-400 text-xs"></ion-icon> {{ productt?.rating }}
        </div>
     </div>
    <ion-card-header class="flex items-center justify-between">
        <ion-card-title>Text</ion-card-title>
        <ion-card-subtitle>text text text text</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>content content</ion-card-content>
    text text text
</ion-card>

<div class="grid grid-cols-2 gap-4 px-5">
    @for (product of filteredProducts(); track product.id) {
        <div class="bg-white dark:bg-[#1c1c1e] rounded-[2rem] shadow-[0_8px_30px_rgb(0,0,0,0.04)] dark:shadow-none flex flex-col h-full active:scale-[0.98] transition-all duration-200"
            (click)="goToProduct(product.id)">

            <!-- Image -->
            <div class="relative w-full aspect-square rounded-[1.5rem] overflow-hidden bg-gray-100 dark:bg-gray-900 mb-3">
                <img [src]="product.imageUrl" class="w-full h-full object-cover" alt="{{ product.nameRu }}">

                <!-- Rating Badge -->
                <div
                    class="absolute top-2.5 right-2.5 bg-white/80 dark:bg-black/60 backdrop-blur-md px-2 py-1 rounded-full text-[10px] font-bold flex items-center gap-1 shadow-sm dark:text-white">
                    <ion-icon name="star" class="text-yellow-400 text-xs"></ion-icon> {{ product.rating }}
                </div>
            </div>

            <!-- Product Details -->
            <div class="px-3 pb-3 flex flex-col flex-1">
                <div class="mb-1">
                    <h3 class="font-bold text-gray-900 dark:text-white text-[15px] leading-tight line-clamp-2">{{
                        product.nameRu }}</h3>
                </div>
                <p class="text-xs text-gray-400 dark:text-gray-500 mb-3 font-medium">{{ product.unit }}</p>

                <!-- Quantity and Price -->
                <div class="mt-auto flex items-center justify-between">
                    <span class="font-bold text-lg text-gray-900 dark:text-white">
                        {{ product.price }} <span class="text-[#ff6b35] text-sm">c.</span>
                    </span>

                    @if (getQuantityForProduct(product.id) === 0) {
                        <button
                            class="w-9 h-9 rounded-full bg-gray-900 dark:bg-white text-white dark:text-black flex items-center justify-center active:scale-90 transition-transform shadow-lg shadow-gray-900/20"
                            (click)="$event.stopPropagation(); addToCart(product)">
                            <ion-icon name="add" class="text-xl"></ion-icon>
                        </button>
                    } @else {
                        <div class="flex items-center bg-[#ff6b35] rounded-full h-9 px-1 shadow-lg shadow-orange-500/30"
                            (click)="$event.stopPropagation()">
                            <button class="w-8 h-full flex items-center justify-center text-white active:opacity-70"
                                (click)="updateQuantity(product, -1)">
                                <ion-icon [name]="this.getQuantityForProduct(product.id) === 1 ? 'trash-outline' : 'remove'"
                                    class="text-lg">
                                </ion-icon>
                            </button>
                            <span class="text-sm font-bold mx-0.5 min-w-[14px] text-center text-white">{{
                                this.getQuantityForProduct(product.id) }}
                            </span>
                            <button class="w-8 h-full flex items-center justify-center text-white active:opacity-70"
                                (click)="updateQuantity(product, 1)">
                                <ion-icon name="add" class="text-lg"></ion-icon>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>