.cart-item-wrapper {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
}

ion-item-sliding {
    background: transparent;
}

ion-item-options {
    border-bottom: none;
}
